#results-table {
  border: none;
}

.case-row {
    display: flex;
    flex-direction: column;
}

.case-row-headers {
    display: flex;
    padding: 10px;
    border-bottom: 1px solid #ccc;
    background: #fff;
    margin-bottom: 3px;
    font-size: 0.9rem;
    color: #2c3139;
    cursor: pointer;
}

.case-row-headers__item {
    padding: 0 2rem;
    border-right: 1px solid #000;
}

.case-row-headers__item:first-child {
  padding-left: 0;
}

.case-row-headers__item:last-child {
  padding-right: 0;
  border-right: none;
}

.case-row-headers__item.title {
  font-style: italic;
}

.case-row-headers.failed {
  background:#fff1f0;
  color: red;
}

.case-row-headers.passed {
  background:#d5f5dd;
  color: green;
}

.case-row-headers.skipped {
  background:#fff5e7;
  color: orange;
}

.case-row-headers.expected-failures {
  background:#fff5e7;
  color: orange;
}

.case-row-headers.unexpected-passes {
  background:#fff1f0;
  color: red;
}

.case-row-results {
    display: none;
    height: 0;
}

.case-row-results.open {
    background: #fff;
    box-sizing: border-box;
    display: block;
    height: auto;
}

.case-row-headers.hidden {
  display: none;
}

.case-log {
  color: #000;
  border: 1px solid green;
  padding: 3px 10px;
  border-radius: 3px;
  margin-left: 10px;
  font-size: 0.85rem;
  background: #f9f9f9;
  cursor: pointer;
}

.case-log:hover {
  background: #e7e7e7;
}

#modal {
  display: none;
  position: absolute;
  top: 10px;
  left: 10px;
  overflow: hidden;
  z-index: 0;
  background: #fff;
  bottom: 10px;
  right: 10px;
  border: 1px solid #cecece;
  box-shadow: 0 0 10px;
  border-radius: 10px;
}

#modal.open {
  display: block;
}

.modal-container {
  display: flex;
  flex-direction: column;
  height: 100%;
  padding-bottom: 10px;
}

.modal-header {
  display: flex;
  padding: 10px;
  font-size: 1.1rem;
  border-bottom: 1px solid #cecece;
  justify-content: space-between;
  background: rgba(0,0,0,0.1);
  color: #000000;
}

#modal-content {
  padding: 10px;
  overflow: hidden;
  overflow-y: auto;
  box-sizing: border-box;
  font-size: 0.9rem;
  color: #016091;
}

#close-modal {
  align-self: flex-end;
  font-size: 1.3rem;
  transform: rotate(45deg);
  padding: 5px;
  box-sizing: border-box;
  line-height: 0.8rem;
  font-weight: bold;
  cursor: pointer;
}

/*------------------
* 1. Table Layout
*------------------*/
.results-table {
    border: 1px solid #e6e6e6;
    color: #999;
    font-size: 12px;
    width: 100%;
}
.results-table th,
.results-table td {
    padding: 5px;
    border: 1px solid #E6E6E6;
    text-align: left;
}
.results-table th {
    font-weight: bold;
}